.AF {
    background: url('./images/country-flags/4x3/af.svg') no-repeat center;
    background-size: contain;
}

.AX {
    background: url('./images/country-flags/4x3/ax.svg') no-repeat center;
    background-size: contain;
}

.AL {
    background: url('./images/country-flags/4x3/al.svg') no-repeat center;
    background-size: contain;
}

.DZ {
    background: url('./images/country-flags/4x3/dz.svg') no-repeat center;
    background-size: contain;
}

.AS {
    background: url('./images/country-flags/4x3/as.svg') no-repeat center;
    background-size: contain;
}

.AD {
    background: url('./images/country-flags/4x3/ad.svg') no-repeat center;
    background-size: contain;
}

.AO {
    background: url('./images/country-flags/4x3/ao.svg') no-repeat center;
    background-size: contain;
}

.AI {
    background: url('./images/country-flags/4x3/ai.svg') no-repeat center;
    background-size: contain;
}

.AQ {
    background: url('./images/country-flags/4x3/aq.svg') no-repeat center;
    background-size: contain;
}

.AG {
    background: url('./images/country-flags/4x3/ag.svg') no-repeat center;
    background-size: contain;
}

.AR {
    background: url('./images/country-flags/4x3/ar.svg') no-repeat center;
    background-size: contain;
}

.AM {
    background: url('./images/country-flags/4x3/am.svg') no-repeat center;
    background-size: contain;
}

.AW {
    background: url('./images/country-flags/4x3/aw.svg') no-repeat center;
    background-size: contain;
}

.AU {
    background: url('./images/country-flags/4x3/au.svg') no-repeat center;
    background-size: contain;
}

.AT {
    background: url('./images/country-flags/4x3/at.svg') no-repeat center;
    background-size: contain;
}

.AZ {
    background: url('./images/country-flags/4x3/az.svg') no-repeat center;
    background-size: contain;
}

.BS {
    background: url('./images/country-flags/4x3/bs.svg') no-repeat center;
    background-size: contain;
}

.BH {
    background: url('./images/country-flags/4x3/bh.svg') no-repeat center;
    background-size: contain;
}

.BD {
    background: url('./images/country-flags/4x3/bd.svg') no-repeat center;
    background-size: contain;
}

.BB {
    background: url('./images/country-flags/4x3/bb.svg') no-repeat center;
    background-size: contain;
}

.BY {
    background: url('./images/country-flags/4x3/by.svg') no-repeat center;
    background-size: contain;
}

.BE {
    background: url('./images/country-flags/4x3/be.svg') no-repeat center;
    background-size: contain;
}

.BZ {
    background: url('./images/country-flags/4x3/bz.svg') no-repeat center;
    background-size: contain;
}

.BJ {
    background: url('./images/country-flags/4x3/bj.svg') no-repeat center;
    background-size: contain;
}

.BM {
    background: url('./images/country-flags/4x3/bm.svg') no-repeat center;
    background-size: contain;
}

.BT {
    background: url('./images/country-flags/4x3/bt.svg') no-repeat center;
    background-size: contain;
}

.BO {
    background: url('./images/country-flags/4x3/bo.svg') no-repeat center;
    background-size: contain;
}

.BQ {
    background: url('./images/country-flags/4x3/bq.svg') no-repeat center;
    background-size: contain;
}

.BA {
    background: url('./images/country-flags/4x3/ba.svg') no-repeat center;
    background-size: contain;
}

.BW {
    background: url('./images/country-flags/4x3/bw.svg') no-repeat center;
    background-size: contain;
}

.BV {
    background: url('./images/country-flags/4x3/bv.svg') no-repeat center;
    background-size: contain;
}

.BR {
    background: url('./images/country-flags/4x3/br.svg') no-repeat center;
    background-size: contain;
}

.IO {
    background: url('./images/country-flags/4x3/io.svg') no-repeat center;
    background-size: contain;
}

.VG {
    background: url('./images/country-flags/4x3/vg.svg') no-repeat center;
    background-size: contain;
}

.BN {
    background: url('./images/country-flags/4x3/bn.svg') no-repeat center;
    background-size: contain;
}

.BG {
    background: url('./images/country-flags/4x3/bg.svg') no-repeat center;
    background-size: contain;
}

.BF {
    background: url('./images/country-flags/4x3/bf.svg') no-repeat center;
    background-size: contain;
}

.BI {
    background: url('./images/country-flags/4x3/bi.svg') no-repeat center;
    background-size: contain;
}

.KH {
    background: url('./images/country-flags/4x3/kh.svg') no-repeat center;
    background-size: contain;
}

.CM {
    background: url('./images/country-flags/4x3/cm.svg') no-repeat center;
    background-size: contain;
}

.CA {
    background: url('./images/country-flags/4x3/ca.svg') no-repeat center;
    background-size: contain;
}

.CV {
    background: url('./images/country-flags/4x3/cv.svg') no-repeat center;
    background-size: contain;
}

.KY {
    background: url('./images/country-flags/4x3/ky.svg') no-repeat center;
    background-size: contain;
}

.CF {
    background: url('./images/country-flags/4x3/cf.svg') no-repeat center;
    background-size: contain;
}

.TD {
    background: url('./images/country-flags/4x3/td.svg') no-repeat center;
    background-size: contain;
}

.CL {
    background: url('./images/country-flags/4x3/cl.svg') no-repeat center;
    background-size: contain;
}

.CN {
    background: url('./images/country-flags/4x3/cn.svg') no-repeat center;
    background-size: contain;
}

.CX {
    background: url('./images/country-flags/4x3/cx.svg') no-repeat center;
    background-size: contain;
}

.CC {
    background: url('./images/country-flags/4x3/cc.svg') no-repeat center;
    background-size: contain;
}

.CO {
    background: url('./images/country-flags/4x3/co.svg') no-repeat center;
    background-size: contain;
}

.KM {
    background: url('./images/country-flags/4x3/km.svg') no-repeat center;
    background-size: contain;
}

.CG {
    background: url('./images/country-flags/4x3/cg.svg') no-repeat center;
    background-size: contain;
}

.CD {
    background: url('./images/country-flags/4x3/cd.svg') no-repeat center;
    background-size: contain;
}

.CK {
    background: url('./images/country-flags/4x3/ck.svg') no-repeat center;
    background-size: contain;
}

.CR {
    background: url('./images/country-flags/4x3/cr.svg') no-repeat center;
    background-size: contain;
}

.HR {
    background: url('./images/country-flags/4x3/hr.svg') no-repeat center;
    background-size: contain;
}

.CU {
    background: url('./images/country-flags/4x3/cu.svg') no-repeat center;
    background-size: contain;
}

.CW {
    background: url('./images/country-flags/4x3/cw.svg') no-repeat center;
    background-size: contain;
}

.CY {
    background: url('./images/country-flags/4x3/cy.svg') no-repeat center;
    background-size: contain;
}

.CZ {
    background: url('./images/country-flags/4x3/cz.svg') no-repeat center;
    background-size: contain;
}

.DK {
    background: url('./images/country-flags/4x3/dk.svg') no-repeat center;
    background-size: contain;
}

.DJ {
    background: url('./images/country-flags/4x3/dj.svg') no-repeat center;
    background-size: contain;
}

.DM {
    background: url('./images/country-flags/4x3/dm.svg') no-repeat center;
    background-size: contain;
}

.DO {
    background: url('./images/country-flags/4x3/do.svg') no-repeat center;
    background-size: contain;
}

.EC {
    background: url('./images/country-flags/4x3/ec.svg') no-repeat center;
    background-size: contain;
}

.EG {
    background: url('./images/country-flags/4x3/eg.svg') no-repeat center;
    background-size: contain;
}

.SV {
    background: url('./images/country-flags/4x3/sv.svg') no-repeat center;
    background-size: contain;
}

.GQ {
    background: url('./images/country-flags/4x3/gq.svg') no-repeat center;
    background-size: contain;
}

.ER {
    background: url('./images/country-flags/4x3/er.svg') no-repeat center;
    background-size: contain;
}

.EE {
    background: url('./images/country-flags/4x3/ee.svg') no-repeat center;
    background-size: contain;
}

.ET {
    background: url('./images/country-flags/4x3/et.svg') no-repeat center;
    background-size: contain;
}

.FK {
    background: url('./images/country-flags/4x3/fk.svg') no-repeat center;
    background-size: contain;
}

.FO {
    background: url('./images/country-flags/4x3/fo.svg') no-repeat center;
    background-size: contain;
}

.FJ {
    background: url('./images/country-flags/4x3/fj.svg') no-repeat center;
    background-size: contain;
}

.FI {
    background: url('./images/country-flags/4x3/fi.svg') no-repeat center;
    background-size: contain;
}

.FR {
    background: url('./images/country-flags/4x3/fr.svg') no-repeat center;
    background-size: contain;
}

.GF {
    background: url('./images/country-flags/4x3/gf.svg') no-repeat center;
    background-size: contain;
}

.PF {
    background: url('./images/country-flags/4x3/pf.svg') no-repeat center;
    background-size: contain;
}

.TF {
    background: url('./images/country-flags/4x3/tf.svg') no-repeat center;
    background-size: contain;
}

.GA {
    background: url('./images/country-flags/4x3/ga.svg') no-repeat center;
    background-size: contain;
}

.GM {
    background: url('./images/country-flags/4x3/gm.svg') no-repeat center;
    background-size: contain;
}

.GE {
    background: url('./images/country-flags/4x3/ge.svg') no-repeat center;
    background-size: contain;
}

.DE {
    background: url('./images/country-flags/4x3/de.svg') no-repeat center;
    background-size: contain;
}

.GH {
    background: url('./images/country-flags/4x3/gh.svg') no-repeat center;
    background-size: contain;
}

.GI {
    background: url('./images/country-flags/4x3/gi.svg') no-repeat center;
    background-size: contain;
}

.GR {
    background: url('./images/country-flags/4x3/gr.svg') no-repeat center;
    background-size: contain;
}

.GL {
    background: url('./images/country-flags/4x3/gl.svg') no-repeat center;
    background-size: contain;
}

.GD {
    background: url('./images/country-flags/4x3/gd.svg') no-repeat center;
    background-size: contain;
}

.GP {
    background: url('./images/country-flags/4x3/gp.svg') no-repeat center;
    background-size: contain;
}

.GU {
    background: url('./images/country-flags/4x3/gu.svg') no-repeat center;
    background-size: contain;
}

.GT {
    background: url('./images/country-flags/4x3/gt.svg') no-repeat center;
    background-size: contain;
}

.GG {
    background: url('./images/country-flags/4x3/gg.svg') no-repeat center;
    background-size: contain;
}

.GN {
    background: url('./images/country-flags/4x3/gn.svg') no-repeat center;
    background-size: contain;
}

.GW {
    background: url('./images/country-flags/4x3/gw.svg') no-repeat center;
    background-size: contain;
}

.GY {
    background: url('./images/country-flags/4x3/gy.svg') no-repeat center;
    background-size: contain;
}

.HT {
    background: url('./images/country-flags/4x3/ht.svg') no-repeat center;
    background-size: contain;
}

.HM {
    background: url('./images/country-flags/4x3/hm.svg') no-repeat center;
    background-size: contain;
}

.VA {
    background: url('./images/country-flags/4x3/va.svg') no-repeat center;
    background-size: contain;
}

.HN {
    background: url('./images/country-flags/4x3/hn.svg') no-repeat center;
    background-size: contain;
}

.HK {
    background: url('./images/country-flags/4x3/hk.svg') no-repeat center;
    background-size: contain;
}

.HU {
    background: url('./images/country-flags/4x3/hu.svg') no-repeat center;
    background-size: contain;
}

.IS {
    background: url('./images/country-flags/4x3/is.svg') no-repeat center;
    background-size: contain;
}

.IN {
    background: url('./images/country-flags/4x3/in.svg') no-repeat center;
    background-size: contain;
}

.ID {
    background: url('./images/country-flags/4x3/id.svg') no-repeat center;
    background-size: contain;
}

.CI {
    background: url('./images/country-flags/4x3/ci.svg') no-repeat center;
    background-size: contain;
}

.IR {
    background: url('./images/country-flags/4x3/ir.svg') no-repeat center;
    background-size: contain;
}

.IQ {
    background: url('./images/country-flags/4x3/iq.svg') no-repeat center;
    background-size: contain;
}

.IE {
    background: url('./images/country-flags/4x3/ie.svg') no-repeat center;
    background-size: contain;
}

.IM {
    background: url('./images/country-flags/4x3/im.svg') no-repeat center;
    background-size: contain;
}

.IL {
    background: url('./images/country-flags/4x3/il.svg') no-repeat center;
    background-size: contain;
}

.IT {
    background: url('./images/country-flags/4x3/it.svg') no-repeat center;
    background-size: contain;
}

.JM {
    background: url('./images/country-flags/4x3/jm.svg') no-repeat center;
    background-size: contain;
}

.JP {
    background: url('./images/country-flags/4x3/jp.svg') no-repeat center;
    background-size: contain;
}

.JE {
    background: url('./images/country-flags/4x3/je.svg') no-repeat center;
    background-size: contain;
}

.JO {
    background: url('./images/country-flags/4x3/jo.svg') no-repeat center;
    background-size: contain;
}

.KZ {
    background: url('./images/country-flags/4x3/kz.svg') no-repeat center;
    background-size: contain;
}

.KE {
    background: url('./images/country-flags/4x3/ke.svg') no-repeat center;
    background-size: contain;
}

.KI {
    background: url('./images/country-flags/4x3/ki.svg') no-repeat center;
    background-size: contain;
}

.KW {
    background: url('./images/country-flags/4x3/kw.svg') no-repeat center;
    background-size: contain;
}

.KG {
    background: url('./images/country-flags/4x3/kg.svg') no-repeat center;
    background-size: contain;
}

.LA {
    background: url('./images/country-flags/4x3/la.svg') no-repeat center;
    background-size: contain;
}

.LV {
    background: url('./images/country-flags/4x3/lv.svg') no-repeat center;
    background-size: contain;
}

.LB {
    background: url('./images/country-flags/4x3/lb.svg') no-repeat center;
    background-size: contain;
}

.LS {
    background: url('./images/country-flags/4x3/ls.svg') no-repeat center;
    background-size: contain;
}

.LR {
    background: url('./images/country-flags/4x3/lr.svg') no-repeat center;
    background-size: contain;
}

.LY {
    background: url('./images/country-flags/4x3/ly.svg') no-repeat center;
    background-size: contain;
}

.LI {
    background: url('./images/country-flags/4x3/li.svg') no-repeat center;
    background-size: contain;
}

.LT {
    background: url('./images/country-flags/4x3/lt.svg') no-repeat center;
    background-size: contain;
}

.LU {
    background: url('./images/country-flags/4x3/lu.svg') no-repeat center;
    background-size: contain;
}

.MO {
    background: url('./images/country-flags/4x3/mo.svg') no-repeat center;
    background-size: contain;
}

.MK {
    background: url('./images/country-flags/4x3/mk.svg') no-repeat center;
    background-size: contain;
}

.MG {
    background: url('./images/country-flags/4x3/mg.svg') no-repeat center;
    background-size: contain;
}

.MW {
    background: url('./images/country-flags/4x3/mw.svg') no-repeat center;
    background-size: contain;
}

.MY {
    background: url('./images/country-flags/4x3/my.svg') no-repeat center;
    background-size: contain;
}

.MV {
    background: url('./images/country-flags/4x3/mv.svg') no-repeat center;
    background-size: contain;
}

.ML {
    background: url('./images/country-flags/4x3/ml.svg') no-repeat center;
    background-size: contain;
}

.MT {
    background: url('./images/country-flags/4x3/mt.svg') no-repeat center;
    background-size: contain;
}

.MH {
    background: url('./images/country-flags/4x3/mh.svg') no-repeat center;
    background-size: contain;
}

.MQ {
    background: url('./images/country-flags/4x3/mq.svg') no-repeat center;
    background-size: contain;
}

.MR {
    background: url('./images/country-flags/4x3/mr.svg') no-repeat center;
    background-size: contain;
}

.MU {
    background: url('./images/country-flags/4x3/mu.svg') no-repeat center;
    background-size: contain;
}

.YT {
    background: url('./images/country-flags/4x3/yt.svg') no-repeat center;
    background-size: contain;
}

.MX {
    background: url('./images/country-flags/4x3/mx.svg') no-repeat center;
    background-size: contain;
}

.FM {
    background: url('./images/country-flags/4x3/fm.svg') no-repeat center;
    background-size: contain;
}

.MD {
    background: url('./images/country-flags/4x3/md.svg') no-repeat center;
    background-size: contain;
}

.MC {
    background: url('./images/country-flags/4x3/mc.svg') no-repeat center;
    background-size: contain;
}

.MN {
    background: url('./images/country-flags/4x3/mn.svg') no-repeat center;
    background-size: contain;
}

.ME {
    background: url('./images/country-flags/4x3/me.svg') no-repeat center;
    background-size: contain;
}

.MS {
    background: url('./images/country-flags/4x3/ms.svg') no-repeat center;
    background-size: contain;
}

.MA {
    background: url('./images/country-flags/4x3/ma.svg') no-repeat center;
    background-size: contain;
}

.MZ {
    background: url('./images/country-flags/4x3/mz.svg') no-repeat center;
    background-size: contain;
}

.MM {
    background: url('./images/country-flags/4x3/mm.svg') no-repeat center;
    background-size: contain;
}

.NA {
    background: url('./images/country-flags/4x3/na.svg') no-repeat center;
    background-size: contain;
}

.NR {
    background: url('./images/country-flags/4x3/nr.svg') no-repeat center;
    background-size: contain;
}

.NP {
    background: url('./images/country-flags/4x3/np.svg') no-repeat center;
    background-size: contain;
}

.NL {
    background: url('./images/country-flags/4x3/nl.svg') no-repeat center;
    background-size: contain;
}

.NC {
    background: url('./images/country-flags/4x3/nc.svg') no-repeat center;
    background-size: contain;
}

.NZ {
    background: url('./images/country-flags/4x3/nz.svg') no-repeat center;
    background-size: contain;
}

.NI {
    background: url('./images/country-flags/4x3/ni.svg') no-repeat center;
    background-size: contain;
}

.NE {
    background: url('./images/country-flags/4x3/ne.svg') no-repeat center;
    background-size: contain;
}

.NG {
    background: url('./images/country-flags/4x3/ng.svg') no-repeat center;
    background-size: contain;
}

.NU {
    background: url('./images/country-flags/4x3/nu.svg') no-repeat center;
    background-size: contain;
}

.NF {
    background: url('./images/country-flags/4x3/nf.svg') no-repeat center;
    background-size: contain;
}

.KP {
    background: url('./images/country-flags/4x3/kp.svg') no-repeat center;
    background-size: contain;
}

.MP {
    background: url('./images/country-flags/4x3/mp.svg') no-repeat center;
    background-size: contain;
}

.NO {
    background: url('./images/country-flags/4x3/no.svg') no-repeat center;
    background-size: contain;
}

.OM {
    background: url('./images/country-flags/4x3/om.svg') no-repeat center;
    background-size: contain;
}

.PK {
    background: url('./images/country-flags/4x3/pk.svg') no-repeat center;
    background-size: contain;
}

.PW {
    background: url('./images/country-flags/4x3/pw.svg') no-repeat center;
    background-size: contain;
}

.PS {
    background: url('./images/country-flags/4x3/ps.svg') no-repeat center;
    background-size: contain;
}

.PA {
    background: url('./images/country-flags/4x3/pa.svg') no-repeat center;
    background-size: contain;
}

.PG {
    background: url('./images/country-flags/4x3/pg.svg') no-repeat center;
    background-size: contain;
}

.PY {
    background: url('./images/country-flags/4x3/py.svg') no-repeat center;
    background-size: contain;
}

.PE {
    background: url('./images/country-flags/4x3/pe.svg') no-repeat center;
    background-size: contain;
}

.PH {
    background: url('./images/country-flags/4x3/ph.svg') no-repeat center;
    background-size: contain;
}

.PN {
    background: url('./images/country-flags/4x3/pn.svg') no-repeat center;
    background-size: contain;
}

.PL {
    background: url('./images/country-flags/4x3/pl.svg') no-repeat center;
    background-size: contain;
}

.PT {
    background: url('./images/country-flags/4x3/pt.svg') no-repeat center;
    background-size: contain;
}

.PR {
    background: url('./images/country-flags/4x3/pr.svg') no-repeat center;
    background-size: contain;
}

.QA {
    background: url('./images/country-flags/4x3/qa.svg') no-repeat center;
    background-size: contain;
}

.RE {
    background: url('./images/country-flags/4x3/re.svg') no-repeat center;
    background-size: contain;
}

.RO {
    background: url('./images/country-flags/4x3/ro.svg') no-repeat center;
    background-size: contain;
}

.RU {
    background: url('./images/country-flags/4x3/ru.svg') no-repeat center;
    background-size: contain;
}

.RW {
    background: url('./images/country-flags/4x3/rw.svg') no-repeat center;
    background-size: contain;
}

.BL {
    background: url('./images/country-flags/4x3/bl.svg') no-repeat center;
    background-size: contain;
}

.SH {
    background: url('./images/country-flags/4x3/sh.svg') no-repeat center;
    background-size: contain;
}

.KN {
    background: url('./images/country-flags/4x3/kn.svg') no-repeat center;
    background-size: contain;
}

.LC {
    background: url('./images/country-flags/4x3/lc.svg') no-repeat center;
    background-size: contain;
}

.MF {
    background: url('./images/country-flags/4x3/mf.svg') no-repeat center;
    background-size: contain;
}

.PM {
    background: url('./images/country-flags/4x3/pm.svg') no-repeat center;
    background-size: contain;
}

.VC {
    background: url('./images/country-flags/4x3/vc.svg') no-repeat center;
    background-size: contain;
}

.WS {
    background: url('./images/country-flags/4x3/ws.svg') no-repeat center;
    background-size: contain;
}

.SM {
    background: url('./images/country-flags/4x3/sm.svg') no-repeat center;
    background-size: contain;
}

.ST {
    background: url('./images/country-flags/4x3/st.svg') no-repeat center;
    background-size: contain;
}

.SA {
    background: url('./images/country-flags/4x3/sa.svg') no-repeat center;
    background-size: contain;
}

.SN {
    background: url('./images/country-flags/4x3/sn.svg') no-repeat center;
    background-size: contain;
}

.RS {
    background: url('./images/country-flags/4x3/rs.svg') no-repeat center;
    background-size: contain;
}

.SC {
    background: url('./images/country-flags/4x3/sc.svg') no-repeat center;
    background-size: contain;
}

.SL {
    background: url('./images/country-flags/4x3/sl.svg') no-repeat center;
    background-size: contain;
}

.SG {
    background: url('./images/country-flags/4x3/sg.svg') no-repeat center;
    background-size: contain;
}

.SX {
    background: url('./images/country-flags/4x3/sx.svg') no-repeat center;
    background-size: contain;
}

.SK {
    background: url('./images/country-flags/4x3/sk.svg') no-repeat center;
    background-size: contain;
}

.SI {
    background: url('./images/country-flags/4x3/si.svg') no-repeat center;
    background-size: contain;
}

.SB {
    background: url('./images/country-flags/4x3/sb.svg') no-repeat center;
    background-size: contain;
}

.SO {
    background: url('./images/country-flags/4x3/so.svg') no-repeat center;
    background-size: contain;
}

.ZA {
    background: url('./images/country-flags/4x3/za.svg') no-repeat center;
    background-size: contain;
}

.GS {
    background: url('./images/country-flags/4x3/gs.svg') no-repeat center;
    background-size: contain;
}

.KR {
    background: url('./images/country-flags/4x3/kr.svg') no-repeat center;
    background-size: contain;
}

.SS {
    background: url('./images/country-flags/4x3/ss.svg') no-repeat center;
    background-size: contain;
}

.ES {
    background: url('./images/country-flags/4x3/es.svg') no-repeat center;
    background-size: contain;
}

.LK {
    background: url('./images/country-flags/4x3/lk.svg') no-repeat center;
    background-size: contain;
}

.SD {
    background: url('./images/country-flags/4x3/sd.svg') no-repeat center;
    background-size: contain;
}

.SR {
    background: url('./images/country-flags/4x3/sr.svg') no-repeat center;
    background-size: contain;
}

.SJ {
    background: url('./images/country-flags/4x3/sj.svg') no-repeat center;
    background-size: contain;
}

.SZ {
    background: url('./images/country-flags/4x3/sz.svg') no-repeat center;
    background-size: contain;
}

.SE {
    background: url('./images/country-flags/4x3/se.svg') no-repeat center;
    background-size: contain;
}

.CH {
    background: url('./images/country-flags/4x3/ch.svg') no-repeat center;
    background-size: contain;
}

.SY {
    background: url('./images/country-flags/4x3/sy.svg') no-repeat center;
    background-size: contain;
}

.TW {
    background: url('./images/country-flags/4x3/tw.svg') no-repeat center;
    background-size: contain;
}

.TJ {
    background: url('./images/country-flags/4x3/tj.svg') no-repeat center;
    background-size: contain;
}

.TZ {
    background: url('./images/country-flags/4x3/tz.svg') no-repeat center;
    background-size: contain;
}

.TH {
    background: url('./images/country-flags/4x3/th.svg') no-repeat center;
    background-size: contain;
}

.TL {
    background: url('./images/country-flags/4x3/tl.svg') no-repeat center;
    background-size: contain;
}

.TG {
    background: url('./images/country-flags/4x3/tg.svg') no-repeat center;
    background-size: contain;
}

.TK {
    background: url('./images/country-flags/4x3/tk.svg') no-repeat center;
    background-size: contain;
}

.TO {
    background: url('./images/country-flags/4x3/to.svg') no-repeat center;
    background-size: contain;
}

.TT {
    background: url('./images/country-flags/4x3/tt.svg') no-repeat center;
    background-size: contain;
}

.TN {
    background: url('./images/country-flags/4x3/tn.svg') no-repeat center;
    background-size: contain;
}

.TR {
    background: url('./images/country-flags/4x3/tr.svg') no-repeat center;
    background-size: contain;
}

.TM {
    background: url('./images/country-flags/4x3/tm.svg') no-repeat center;
    background-size: contain;
}

.TC {
    background: url('./images/country-flags/4x3/tc.svg') no-repeat center;
    background-size: contain;
}

.TV {
    background: url('./images/country-flags/4x3/tv.svg') no-repeat center;
    background-size: contain;
}

.UG {
    background: url('./images/country-flags/4x3/ug.svg') no-repeat center;
    background-size: contain;
}

.UA {
    background: url('./images/country-flags/4x3/ua.svg') no-repeat center;
    background-size: contain;
}

.AE {
    background: url('./images/country-flags/4x3/ae.svg') no-repeat center;
    background-size: contain;
}

.GB {
    background: url('./images/country-flags/4x3/gb.svg') no-repeat center;
    background-size: contain;
}

.US {
    background: url('./images/country-flags/4x3/us.svg') no-repeat center;
    background-size: contain;
}

.UM {
    background: url('./images/country-flags/4x3/um.svg') no-repeat center;
    background-size: contain;
}

.VI {
    background: url('./images/country-flags/4x3/vi.svg') no-repeat center;
    background-size: contain;
}

.UY {
    background: url('./images/country-flags/4x3/uy.svg') no-repeat center;
    background-size: contain;
}

.UZ {
    background: url('./images/country-flags/4x3/uz.svg') no-repeat center;
    background-size: contain;
}

.VU {
    background: url('./images/country-flags/4x3/vu.svg') no-repeat center;
    background-size: contain;
}

.VE {
    background: url('./images/country-flags/4x3/ve.svg') no-repeat center;
    background-size: contain;
}

.VN {
    background: url('./images/country-flags/4x3/vn.svg') no-repeat center;
    background-size: contain;
}

.WF {
    background: url('./images/country-flags/4x3/wf.svg') no-repeat center;
    background-size: contain;
}

.EH {
    background: url('./images/country-flags/4x3/eh.svg') no-repeat center;
    background-size: contain;
}

.YE {
    background: url('./images/country-flags/4x3/ye.svg') no-repeat center;
    background-size: contain;
}

.ZM {
    background: url('./images/country-flags/4x3/zm.svg') no-repeat center;
    background-size: contain;
}

.ZW {
    background: url('./images/country-flags/4x3/zw.svg') no-repeat center;
    background-size: contain;
}
